table {
	table-layout: fixed;
	opacity: 0.99;
	width: 70%;
	height: 100%;
	border-collapse: collapse;
	z-index: -1;
	border: 1px solid #D4D4D4;
}

th, td {
	text-align: left;
	border-top: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
	word-wrap: break-word;
}